<head>
</head>
<body>
  <div class="large-1 columns"></div>
  <div class="large-10 columns">
    <div class="large-offset-1 row">
      <div class="large-3 columns">
        <img src="assets/dota_prof_logo.png" class="logo" />
      </div>
      <div class="title left large-9 columns text-center">DOTA - PROF</div>
    </div>
    <% counter = 0 %>
    <% counter_2 = 0 %>
    <% @teams.each do |team| %>
      <div class="team">
        <div class="panel">
          <div class="clearfix">
            <div class="left large-3 columns">
              <img class="team-image" src="assets/teams/team_<%= counter_2 %>.jpg" />
              <% counter_2 += 1 %>
            </div>
            <div class="team-name large-9 columns text-center end"><%= team.name %></div>
          </div>
          <hr>
          <div class="large-offset-1 row end">
            <% counter_3 = 0 %>
            <% team.roster.each do |player| %>
              <a href="/players/<%= team.id_roster[counter_3] %>" class="player-link" style="display: block">
                <div class="large-2 columns player-panel">
                  <img src="assets/players/player_<%= counter %>.jpg" class="player-image" />
                  <div class="player-name text-center">
                    <%= player %>
                  </div>
                  <% counter += 1 %>
                  <% counter_3 += 1 %>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</body>
