<div id="main-index" class="large-12 columns">
  <div class="large-offset-1 row">
    <div class="large-3 columns">
      <%= image_tag "dota_prof_logo.png", :class => "logo" %>
    </div>
    <div class="title left large-9 columns text-center">DOTA - PROF</div>
  </div>
  <% counter = 0 %>
  <% @teams.each_with_index do |team, index| %>
    <div class="team large-offset-1 row">
      <div class="panel">
        <div class="clearfix">
          <%= image_tag "teams/team_#{index}.jpg", :class => "team-image left" %>
          <div class="team-name right"><%= team.name %></div>
        </div>
        <hr>
        <div class="row end">
          <% team.roster.each_with_index do |player, i| %>
            <a href="/players/<%= team.id_roster[i] %>" class="player-link">
              <div class="large-2 columns player-panel clearfix">
                <%= image_tag "players/player_#{counter}.jpg", :class => "player-image" %>
                <div class="player-name text-center">
                  <%= player %>
                </div>
                <% counter += 1 %>
              </div>
            </a>
          <% end %>
          <a href="#" class="team-details-link">
            <div class="large-1 columns view-team-details">
              View Draft Prof
            </div>
          </a>
        </div>
        <div class="row" style="display:none">
          <div class="large-12 large-centered columns team-info">
            <hr>
            <div class="large-4 columns draft clearfix">
              <h3>Top Captain</h3>
              <h3><i><%= Player.find_by(account_id: @captain_list[index][0][0]).name %></i></h3>
              <h3>W/L <%= @win_list[index][0][1] %> - <%= @captain_list[index][0][1] - @win_list[index][0][1] %></h3>
              <% unless @captain_list[index][1].nil? || @captain_list[index][1][1] < 5 %>
                <hr>
                <h3>#2 Captain</h3>
                <h3><i><%= Player.find_by(account_id: @captain_list[index][1][0]).name %></i></h3>
                <h3>W/L <%= @win_list[index][1][1] %> - <%= @captain_list[index][1][1] - @win_list[index][1][1] %></h3>
              <% end %>
            </div>
            <div class="large-4 columns draft clearfix">
                <h3>Top Picks </h3><%= image_tag "heroes/hero_#{@pick_list[index][0][0]}.jpg" %><%= image_tag "heroes/hero_#{@pick_list[index][1][0]}.jpg" %>
            </div>
            <div class="large-4 columns draft clearfix">
                <h3>Top Bans </h3><%= image_tag "heroes/hero_#{@ban_list[index][0][0]}.jpg" %><%= image_tag "heroes/hero_#{@pick_list[index][1][0]}.jpg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= content_for :extra_footer do %>
  <script type="text/javascript">
    $(function(){
      $(".team-details-link").on('click', function(e){
        e.preventDefault();
        $(e.currentTarget).parent().next().slideToggle();
      });
    });
  </script>
<% end %>
