<div id="main-show" class="large-12 large-centered columns">
  <h1>Player Prof</h1>
  <hr>
  <div class="row large-offset-2 player_match_data">
    <div class="large-4 columns text-center name">
      <% unless @player.name.nil? %>
        <h3><%= @player.name %><h3>
      <% else %>
        <h3>Player name missing.</h3>
      <% end %>
      <h5>Favorite Hero: <%= @eight_four_hero %></h5>
      <%= image_tag "heroes/hero_#{@eight_four_hero_id}.jpg" %>
    </div>
    <div class="left large-4 columns text-center stats">
      <h3>Averages in 6.84</h3>
      <h5>Kills: <%= @eight_four_matches.average(:kills).round(1) %> -
          Deaths: <%= @eight_four_matches.average(:deaths).round(1) %> -
          Assists: <%= @eight_four_matches.average(:assists).round(1) %></h5>
      <h5>GPM: <%= @eight_four_matches.average(:gpm).to_i %> -
          XPM: <%= @eight_four_matches.average(:xpm).to_i %></h5>
      <h5>Hero Damage: <%= @eight_four_matches.average(:hero_damage).to_i %></h5>
      <h5>Tower Damage: <%= @eight_four_matches.average(:tower_damage).to_i %></h5>
      <h5>Last Hits: <%= @eight_four_matches.average(:last_hits).to_i %> -
          Denies: <%= @eight_four_matches.average(:denies).to_i %></h5>
    </div>
  </div>
</div>
