<div id="main-show" class="large-12 large-centered columns clearfix">
  <div class="row large-offset-1 player_match_data">
    <div class="left large-4 columns text-center name">
      <% unless @player.name.nil? %>
        <h1><%= @player.name %></h1>
      <% else %>
        <h1>Player name missing.</h1>
      <% end %>
      <h5>Favorite Hero - <%= @eight_four_hero %></h5>
      <%= image_tag "heroes/hero_#{@eight_four_hero_id}.jpg" %>
    </div>
    <div class="left large-4 columns text-center stats">
      <h3>Current Patch Stats</h3>
      <h5>Kills <%= @eight_four_matches.average(:kills).round(1) %> -
          Deaths <%= @eight_four_matches.average(:deaths).round(1) %> -
          Assists <%= @eight_four_matches.average(:assists).round(1) %></h5>
      <h5>GPM <%= @eight_four_matches.average(:gpm).to_i %> -
          XPM <%= @eight_four_matches.average(:xpm).to_i %></h5>
      <h5>Hero Damage <%= number_with_delimiter(@eight_four_matches.average(:hero_damage).to_i, delimiter: ",") %></h5>
      <h5>Tower Damage <%= number_with_delimiter(@eight_four_matches.average(:tower_damage).to_i, delimiter: ",") %></h5>
      <h5>Last Hits <%= @eight_four_matches.average(:last_hits).to_i %> -
          Denies <%= @eight_four_matches.average(:denies).to_i %></h5>
    </div>
  </div>
  <div class="row submissions">
    <h3>User Submissions</h3>
    <hr>
    <div class="large-12 columns">
      <% unless @submissions.nil? %>
        <% @submissions.each_with_index do |submission, index| %>
          <div class="row">
            <div class="large-1 columns">
              <span class="score" id="score-<%= submission.id %>"><%= submission.votes_for.size %></span>
            </div>
            <div class="large-1 columns">
              <%= link_to like_player_submission_path(@player, submission), class: "like-button" do %>
                <span><%= image_tag "like.png", :class => "like", :id => submission.id %></span>
              <% end %>
            </div>
            <div class="large-8 columns submission-content"><%= submission.content %></div>
            <div class="large-2 columns right">
              <% if (user_signed_in? && submission.user == current_user) || (user_signed_in? && current_user.role == 'admin') %>
                <%=
                  link_to "Delete", player_submission_path(@player, submission),
                  class: "button form-control",
                  method: :delete
                %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="large-10 columns">
              <div class="large-6 large-centered columns submission-thumbnail">
                <% if @videos[index] != nil %>
                  <iframe width="560" height="315" src="<%= @videos[index] %>" allowfullscreen></iframe>
                <% elsif @images[index] != nil %>
                  <%= image_tag @images[index], class: "submission-image" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="new-submission container">
      <div class="large-10 columns">
        <%= form_for [@player, @submission] do |f| %>

          <%= f.label "content" %>
          <%= f.text_area :content %>

          <%= f.submit "Submit", class: "button tiny round" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
